[Unit]
Description=Wanderer Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/launch-wanderer.sh
Restart=always
User={{ wanderer_user }}
Group={{ wanderer_group }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
